[submodule "www"]
	path = www
	url = git@github.com:Yonsm/ZhiDash.git
[submodule "modules/ZhiAct"]
	path = modules/ZhiAct
	url = git@github.com:Yonsm/ZhiAct.git
[submodule "modules/ZhiBot"]
	path = modules/ZhiBot
	url = git@github.com:Yonsm/ZhiBot.git
[submodule "modules/ZhiCaiYun"]
	path = modules/ZhiCaiYun
	url = git@github.com:Yonsm/ZhiCaiYun.git
[submodule "modules/ZhiMi"]
	path = modules/ZhiMi
	url = git@github.com:Yonsm/ZhiMi.git
[submodule "modules/ZhiModBus"]
	path = modules/ZhiModBus
	url = git@github.com:Yonsm/ZhiModBus.git
