[submodule "www"]
	path = www
	url = git@github.com:Yonsm/ZhiDash.git
[submodule "modules/ZhiAct"]
	path = modules/ZhiAct
	url = git@github.com:Yonsm/ZhiAct.git
[submodule "modules/ZhiBot"]
	path = modules/ZhiBot
	url = git@github.com:Yonsm/ZhiBot.git
[submodule "modules/ZhiCaiYun"]
	path = modules/ZhiCaiYun
	url = git@github.com:Yonsm/ZhiCaiYun.git
[submodule "modules/ZhiMi"]
	path = modules/ZhiMi
	url = git@github.com:Yonsm/ZhiMi.git
[submodule "modules/ZhiModBus"]
	path = modules/ZhiModBus
	url = git@github.com:Yonsm/ZhiModBus.git
[submodule "modules/ZhiMrBond"]
	path = modules/ZhiMrBond
	url = git@github.com:Yonsm/ZhiMrBond.git
[submodule "modules/ZhiMsg"]
	path = modules/ZhiMsg
	url = git@github.com:Yonsm/ZhiMsg.git
[submodule "modules/ZhiSaswell"]
	path = modules/ZhiSaswell
	url = git@github.com:Yonsm/ZhiSaswell.git
[submodule "modules/ZhiViomi"]
	path = modules/ZhiViomi
	url = git@github.com:Yonsm/ZhiViomi.git
[submodule "modules/SmartIR"]
	path = modules/SmartIR
	url = git@github.com:smartHomeHub/SmartIR.git
[submodule "modules/xiaomi_fan"]
	path = modules/xiaomi_fan
	url = git@github.com:syssi/xiaomi_fan.git
[submodule "modules/ZhiMQTT"]
	path = modules/ZhiMQTT
	url = git@github.com:Yonsm/ZhiMQTT.git
[submodule "modules/ZhiRemote"]
	path = modules/ZhiRemote
	url = git@github.com:Yonsm/ZhiRemote.git
